<div class="container">
<h1>Stupid Coaching</h1>
<div class="question">
<p><em> you: </em> <%=params[:question]%> </p>
</div>
<div class="answer">
<p><em> your coach: </em> <%=@answer%> </p>
</div>
<%= link_to "Ask a new question", ask_path %>
</div>
